Django
django-better-admin-arrayfield
django-graphql-jwt
django-extensions
django-json-widget
django-pydantic-field
dj-database-url
graphene
graphene-django
gunicorn
python-dotenv
psycopg2-binary
whitenoise
